spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: admin
    password: admin_password
  flyway:
    locations: classpath:db/migration,classpath:db/local
    clean-disabled: false
  #  jpa:
  #    properties:
  #      hibernate.enable_lazy_load_no_trans: true

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${hmpps-auth.url}/.well-known/jwks.json
      client:
        registration:
          manage-and-deliver-api-client:
            provider: hmpps-auth
            client-id: ${API_CLIENT_ID:hmpps-accredited-programmes-manage-and-deliver-ui-client-1}
            client-secret: ${API_CLIENT_SECRET:clientsecret}
            authorization-grant-type: client_credentials
        provider:
          hmpps-auth:
            token-uri: ${hmpps-auth.url}/oauth/token

hmpps-auth:
  url: ${HMPPS_AUTH_BASE_URL:http://localhost:8090}/auth

manage-and-deliver-ndelius:
  locations:
    find-person: "/person/find/{identifier}"

hmpps:
  sqs:
    provider: localstack
    queues:
      interventionseventtestqueue:
        queueName: interventionseventtestqueue
        dlqName: interventionseventtestqueuedlq
        subscribeTopicId: hmppseventtopic
        subscribeFilter: '{"eventType":[ "accredited-programmes-community.referral.status-updated" ]}'
      hmppsdomaineventsqueue:
        queueName: hmpps_domain_events_queue
        dlqName: hmpps_domain_events_dlq
        subscribeTopicId: hmppseventtopic
        subscribeFilter: '{"eventType":[ "interventions.community-referral.created"] }'
        asyncQueueClient: true

    topics:
      hmppseventtopic:
        arn: arn:aws:sns:eu-west-2:000000000000:${random.uuid}


services:
  manage-and-deliver-api:
    base-url: ${MANAGE_AND_DELIVER_BASE_URL:http://localhost:8080}
  find-and-refer-intervention-api:
    base-url: ${FIND_AND_REFER_BASE_URL:http://localhost:9095}
  ndelius-integration-api:
    base-url: ${NDELIUS_BASE_URL:http://localhost:9095}
  oasys-api:
    base-url: ${OASYS_BASE_URL:http://localhost:9095}
  assess-risks-and-needs-api:
    base-url: ${ASSESS_RISKS_AND_NEEDS_BASE_URL:http://localhost:9095}
  govuk-api:
    base-url: https://www.gov.uk