---
# Per environment values which override defaults in hmpps-accredited-programmes-manage-and-deliver-api/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: accredited-programmes-manage-and-deliver-api-dev.hmpps.service.justice.gov.uk

  env:
    SPRING_PROFILES_ACTIVE: "dev"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: "applicationinsights.dev.json"
    HMPPS_AUTH_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    SERVICES_MANAGE-AND_DELIVER-API_BASE-URL: "https://accredited-programmes-manage-and-deliver-api-dev.hmpps.service.justice.gov.uk"
    SERVICES_FIND-AND-REFER-INTERVENTION-API_BASE-URL: "https://find-and-refer-intervention-api-dev.hmpps.service.justice.gov.uk"
    SERVICES_NDELIUS-INTEGRATION-API_BASE-URL: "https://accredited-programmes-and-delius-dev.hmpps.service.justice.gov.uk"
    SERVICES_OASYS-API_BASE-URL: "https://accredited-programmes-and-oasys-dev.hmpps.service.justice.gov.uk"
    SERVICES_ASSESS-RISKS-AND-NEEDS-API_BASE-URL: "https://assess-risks-and-needs-dev.hmpps.service.justice.gov.uk"
    SERVICES_GOVUK-API_BASE-URL: "https://www.gov.uk"
    SENTRY_ENVIRONMENT: dev

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: hmpps_accredited_programmes_manage_and_deliver_alerts_nonprod
